#schedule,
.schedule {
  display: flex;
  flex-direction: column;
}

.schedule {
  flex-grow: 1;
}

.schedule-list {
  flex-grow: 1;
  min-height: 2em;
}

.schedule .add-task-button {
  margin-left: auto;
  margin-right: auto;
}
