.task {
  border-radius: 0.5em;
  margin-bottom: 0.5em;
}

.task-inner {
  background-color: #ffffff20;
  border-radius: 0.5em;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.task-inner-main {
  flex-grow: 1;
}

.task-date {
  opacity: 0.6;
}

.task-action {
  background-color: transparent;
  outline: inherit;
  border: inherit;
  color: inherit;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s, visibility 0.1s;
}

.task:hover .task-action {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.1s, visibility 0.1s;
}

.task-action svg {
  cursor: pointer;
  padding: 0.5em;
}
