.topic {
    padding: .5em;
    border-radius: .5em;
}

.topic .container {
    padding: .5em;
    min-height: 2em;
    max-height: 60vh;
}

.add-task-button {
    cursor: pointer;
    padding: 1em 3em;
    border-radius: .5em;
    background-color: #ffffff20;
    width: fit-content;
    margin: .5em auto 0 auto;
}
