.topic {
    padding: .5em;
    border-radius: .5em;
}

.topic .container {
    padding: .5em;
    min-height: 2em;
    max-height: 60vh;
}

.add-task-button {
    cursor: pointer;
    padding: 1em 3em;
    border-radius: .5em;
    background-color: #ffffff20;
    width: fit-content;
    margin: .5em auto 0 auto;
}

.add-task-text {
    overflow: hidden;
    overflow-wrap: break-word;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-size: inherit;
    font-family: inherit;
    font-size-adjust: inherit;
    font-kerning: inherit;
    font-optical-sizing: inherit;
    font-language-override: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    color: inherit;
    background-color: transparent;
    width: 100%;
    text-align: center;
    border: medium none;
    resize: none;
}