body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.draggable.dragging {
  opacity: .75;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #171a1d;
        color: #ffffff;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background: #f4f4f4;
        color: #000000;
    }
}